    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <h2>Hakkımızda</h2>
                <p><img  height="150px" src="/img/egepen_logo.png"/> <img  height="150px" src="/img/agt_logo.jpg"/></p>
                <p>2014 yılında Ankara’da kurulan şirketimizle çelik kapı, iç kapı, PVC doğrama ve laminant parke çalışmalarını 16 yıllık tecrübeye sahip Özül İnşaat ltd. Şti nin personel ve ekipmanını devralarak bu firmanın bıraktığı yerden profesyonel kadroyla sürdürmeye devam etmektedir.</p>
                <p>Kullandığımız ürünler sektörde kalitesiyle isim yapmış ürünlerdir. Tecrübeli personelimizin maharetiyle bu kaliteyi sizlere sunmaktan mutluluk duyuyoruz.</p>
                <p>Çalışma şeklimizle fark yaratıyoruz!</p>
                <p>Önce sizi dinliyor, isteğiniz doğrultusunda ihtiyacınız olan doğru çözümü uygun maliyetle sunuyoruz. Zamanınızın değerli olduğunun farkındayız ve söz verdiğimiz zamanda işimize başlıyor, çalışmamız için gerekli ekipmanı sürekli yanımızda taşıyarak gereksiz zaman kayıplarını önlüyoruz. İşleri büyük / küçük diye ayırt etmeden güler yüzle yapıyoruz. Yaptığımız işlerin arkasında duruyor, montaj sonrası sorularınızı yanıtlıyor, gerektiğinde müdahale ederek mağdur olmanızı önlüyor, mutlu müşteriler yaratmak için çalışıyoruz. Biliyoruz ki  başarı yapılan iş sayısında değil hakkıyla yapılan iş sonucu memnun müşterilerimizin bizi tavsiye etmesidir.</p>
                <p><img height="150px" src="/img/mina_logo.png"/> <img  height="150px" src="/img/asdoor_logo.jpg"/></p>
            </div>
        </div>
    </section>
