    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>İletişim</h2>
                <p>GİG İnşaat ve Ticaret Ltd. Şti.</p>
                <p>Alınteri Bulvarı No:134 Ostim, ANKARA</p>
                <p><b>gsm</b> 0 544 246 51 75 - <b>tel</b> 0 312 385 44 92 - <b>fax</b> 0 312 385 56 35</p>                
                <p><b>eposta</b> <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>                
            </div>
        </div>
    </section>
