    <!-- Services Section -->
    <section id="services" class="content-section text-center">
        <div class="services-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Hizmetler</h2>
                    
                    <br/>
                    <h3>2015 -2016 YILI BİTİRİLEN ÖNEMLİ PROJELERİMİZ</h3>
                    
                    <div class="col-lg-4">
                        <img height="400px" border="0px" src="img/enpark_beytepe.jpg" /> <br/> ENPARK BEYTEPE PROJESİ GARAJ VE MÜŞTELİMAT PVC  DOĞRAMA İŞİ
                    </div>
                    <div class="col-lg-4">
                        <img height="400px" border="0px"  src="img/nep_ofis.jpg" /> <br/> NEP OFİS PROJESİ 85 ADET SERTİFİKALI YANGIN KAPISI. 130 ADET ÇELİK KAPI
                    </div>
                    
                    <br/>
                                                  
                    <div class="col-lg-4">
                        <img height="400px" border="0px" src="img/seker2_sitesi.jpg" /> <br/> ÖZÜL İNŞAAT ŞEKER 2 SİTESİ 30 ADET YANGIN KAPISI 48 ADET ÇELİK KAPI
                    </div>
                    <div class="col-lg-4">
                        <img height="400px" border="0px" src="img/simge_life_baglica.jpg" /> <br/> SİMGE LİFE PROJESİ BAĞLICA ANKARA 29 ADET SERTİFİKALI  YANGIN KAPISI 24 ADET ÇELİK KAPI
                    </div>
                    
                    <br/>
                    
                    <h3>2016-2017 YILI BİTİRİLEN ÖNEMLİ PROJELERİMİZ</h3>
                    
                    <br/>
                    <div class="col-lg-8">
                        <img height="400px" border="0px" src="img/ulusoy_musavirlik_gop.jpg" /> <br/> ULUSOY MÜŞAVİRLİK GAZİ OSMAN PAŞA 22 ADET ÇELİK KAPI
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
